@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: Lato, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}

#logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;

  /* order: 1; */
}

#trybewarts-forms-logo {
  width: 500px;
}

#trybewarts-header-title {
  color: white;
}

.form-control {
  margin-right: 10px;
}

#header-button {
  margin-right: 10px;
}


main {
  display: flex;
  height: 100%;
  width: 100vw;
}

main #evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  max-height: 768px;
  padding: 50px;
}

#h1-form {
  margin: 20px 0;
}

.name-content input {
  width: 200px;
}

#label-family input {
  margin: 5px 0;
}

footer {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb( 60, 64, 74);
  height: 60px;
  width: 100%;
  margin-top: 200px;
}

#comentario {
  max-height: 200px;
  max-width: 640px;
}

#comentario textarea {
  max-height: 100%;
  max-width: 100%;
}

.name-content {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.name-content label {
  margin-left: 4px;
}

.name-content select {
  width: 153px;
  margin-left: 10px;
}
